{{!-- pet handling --}}
<section class="pet">
    {{#each pets as |pet| }}
    <div class="box pet_card">
        <article class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img src="/images/pet_placeholder.png" alt="Image of {{pet.pet_name}}">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <strong>{{pet.pet_name}}</strong> <small>{{pet.sex}} {{pet.species.name}}</small>
                        <small>{{pet.likes}} likes</small>
                        <br>
                        {{pet.about_pet}}
                    </p>
                </div>
            </div>
        </article>
    </div>
    {{/each}}

    {{#if user_is_owner}}
    {{> pet-form}}
    {{/if}}
</section>

{{!-- Only the owner user needs species data when adding a pet, otherwise not necessary --}}
{{#if user_is_owner}}
<script src="/js/getSpecies.js"></script>
<script src="/js/checkForm.js"></script>
{{/if}}