{{!-- user handling --}}

<section class="container">
    {{#each users as |user| }}
    <h1>USER ID: {{user.id}} | USERNAME: {{user.username}}</h1>
    <h3 class="username"> {{user.username}}</h3>
    <section class="flex-row justify-center">
        <a href="/my_pets/{{user.id}}">
            <header>{{user.username}}</header>
        </a>
    </section>
    {{/each}}
</section>